body {
  background-color: #333;

  font-family: sans-serif;
  padding: 0 5px;
  h1 {
    color: gold;
  }
  .germanNouns {
    span {
      font-style: italic;
      color: lightgreen;
    }
    .buttonsRow {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      width: fit-content;
    }
    @mixin btn($name, $bgColor, $borderColor) {
      .#{$name} {
        padding: 7px 15px;
        border-radius: 5px;
        font-size: 1rem;
        background-color: $bgColor;
        border: 2px solid $borderColor;
        cursor: pointer;
        &:hover {
          background-color: lighten($bgColor, 30%);
        }
      }
    }
    $buttons: derBnt lightblue blue, dieBnt lightgreen green, dasBnt gold orange,
      hideBnt tomato red;
    @each $name, $bgColor, $borderColor in $buttons {
      @include btn($name, $bgColor, $borderColor);
    }

    .nouns {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      grid-column-gap: 6px;
      grid-row-gap: 6px;
      margin-top: 1rem;
      .noun {
        padding: 10px;
        background-color: #444;
      }
      .der {
        background-color: rgb(26, 101, 126);
      }
      .die {
        background-color: rgb(37, 120, 37);
      }
      .das {
        background-color: rgb(144, 126, 27);
      }
    }
  }
}
